---
import Inquery from "../components/Inquery.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>DuskyElf</title>
	</head>
	<body>
		<header>
			<ThemeToggle />
		</header>
		<main>
			<h1>Rehmatpal Singh</h1>
			<p>
				Tryna be Software Engineer for the
				<Inquery href="#" question="What good?">Good</Inquery>
			</p>
			<div class="icons">
				<a href="https://github.com/DuskyElf">
					<img src="/assets/icons/github.svg" alt="GitHub Icon" />
				</a>
				<a href="https://bsky.app/profile/duskyelf.me">
					<img src="/assets/icons/bluesky.svg" alt="Bluesky Icon" />
				</a>
				<a href="https://www.youtube.com/@DuskyDaily">
					<img src="/assets/icons/youtube.svg" alt="YouTube Icon" />
				</a>
			</div>
		</main>
	</body>
</html>

<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		transition: background-color 0.3s, color 0.3s;
	}
</style>

<style>
	body {
		color: var(--text);
		background-color: var(--background);
		font-family: "Courier New", Courier, monospace;

		height: 100vh;
	}

	main {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		height: 80vh;
		text-align: center;
	}

	h1 {
		font-size: 5rem;
		font-family: "Times New Roman", Times, serif;
		text-shadow: 1px 1px 15px color-mix(in srgb, white, transparent 50%);
	}

	p {
		font-size: 1.6em;
	}

	.icons {
		gap: 1rem;
		display: flex;

		margin: 30px 0;
	}

	.icons img {
		cursor: pointer;

		opacity: 0.7;
		width: 1.5rem;
		height: 1.5rem;
		transition: opacity 0.3s;
	}

	.icons img:hover {
		opacity: 1;
	}

	.icons img[alt="YouTube Icon"] {
		scale: 1.2;
	}

	.icons img[alt="GitHub Icon"] {
		filter: invert(1);
	}

	:root:has(#theme-light:checked) .icons img[alt="GitHub Icon"] {
		filter: invert(0);
	}
</style>
