---
import Inquery from "../components/Inquery.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
	<main>
		<h1>Rehmatpal Singh</h1>
		<p>
			Tryna be Software Engineer for the
			<Inquery href="#" question="What good?">Good</Inquery>
		</p>
		<ul class="icons">
			<li>
				<a href="https://github.com/DuskyElf">
					<img src="/assets/icons/github.svg" alt="GitHub Icon" />
				</a>
			</li>
			<li>
				<a href="https://bsky.app/profile/duskyelf.me">
					<img src="/assets/icons/bluesky.svg" alt="Bluesky Icon" />
				</a>
			</li>
			<li>
				<a href="https://www.youtube.com/@DuskyDaily">
					<img src="/assets/icons/youtube.svg" alt="YouTube Icon" />
				</a>
			</li>
		</ul>
	</main>
</BaseLayout>

<style>
	main {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		height: 90vh;
		padding: 20px;
		text-align: center;
	}

	h1 {
		font-family: "Times New Roman", Times, serif;
		font-size: min(6rem, 9vw);
		text-shadow: 1px 1px 15px color-mix(in srgb, white, transparent 50%);
	}

	p {
		font-size: max(1rem, min(2rem, 3vw));
	}

	.icons {
		gap: 1rem;
		display: flex;
		list-style: none;

		margin: 30px 0;
	}

	.icons img {
		cursor: pointer;

		opacity: 0.7;
		width: 1.5rem;
		height: 1.5rem;
		transition: opacity 0.3s;
	}

	.icons img:hover {
		opacity: 1;
	}

	.icons img[alt="YouTube Icon"] {
		scale: 1.2;
	}

	.icons img[alt="GitHub Icon"] {
		filter: invert(1);
	}

	:root:has(#theme-light:checked) .icons img[alt="GitHub Icon"] {
		filter: invert(0);
	}
</style>
